@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF1F8;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar {
    box-shadow: 0px -20px 50px #000000;
}

.navbar-logo {
    padding: 15px;
    color: #fff!important;
}

.navbar-mainbg {
    background-color: #5161ce;
    padding: 0px;
}

.navbar-toggler {
    background-color: transparent!important;
    background: none;
    box-shadow: none;
}
.navbar-toggler:focus, 
.navbar-toggler:active {
    outline: none;
    border: none;
    box-shadow: none;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent > ul > li.active > a {
    color: #5161ce;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}


@media(min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}


@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }

    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }

    .hori-selector .left {
        top: -25px;
        left: auto;
    }

    .hori-selector .right {
        bottom: -25px;
    }

    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }

    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
}


/*---------- forms ------------*/

a {
    text-decoration: none;
}

.form-container {
    width: 72%;
    height: 90%;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 30px rgba(66, 57, 238, .2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.postimg.cc/pdL2vfK9/bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.sign-up {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-family: calibri;
    color: rgba(30, 30, 30, 1);
}

.text {
    width: 350px;
    height: 50px;
    box-shadow: 2px 6px 18px rgba(66, 57, 238, .3);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.text input {
    height: 40px;
    width: 80%;
    outline: none;
    border: none;
    font-size: 14px;
    margin: 5px;
}

.text img {
    margin-left: 20px;
}

.conditions {
    font-family: myriad pro;
    color: #BBC1CB;
    font-size: 14px;
}

.conditions a {
    color: #7D22E3;
    font-weight: 500;
}

.terms {
    display: flex;
    align-items: center;
}

button {
    width: 200px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: linear-gradient(-30deg, #3B02ED, #8E2AE0 55%);
    box-shadow: 2px 6px 16px rgba(66, 57, 238, .3);
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    cursor: pointer;
    transition: all .3s ease;
}

button:active {
    transform: scale(1.1);
}

.text-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container p {
    width: 70%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.text-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2D2C2C;
    line-height: 20px;
}

@media screen and (max-width: 1080px) {
    .text-container {
        display: none;
    }

    .container {
        height: 90%;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .text {
        width: 300px;
    }
}

@media screen and (max-width: 420px) {
    .container {
        width: 95%;
    }

    .heading {
        text-align: center;
    }

    .conditions {
        text-align: center;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    .text {
        width: 280px;
    }
}


/*---------- profile ------------*/
.profile {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.header {
    min-height: 100vh;
    background: #009FFF;
    background: linear-gradient(to right, #ec2F4B, #009FFF);
    color: white;
    clip-path: ellipse(100vw 60vh at 50% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    text-align: center;
}

.profile-pic {
    height: 6rem;
    width: 6rem;
    object-fit: center;
    border-radius: 50%;
    border: 2px solid #fff;
}

.location p {
    display: inline-block;
}

.location svg {
    vertical-align: middle;
}

.heading {
    font-weight: 400;
    font-size: 1.3rem;
    margin: 1rem 0;
}

