<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AuthApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @if (ViewData["HideNav"] == null)
    {
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand navbar-logo">Auth App</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link"><i class="fas fa-home"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="User" asp-action="Account" class="nav-link"><i class="fas fa-id-badge"></i>Account</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="Logout" class="nav-link"><i class="fas fa-right-from-bracket"></i>Logout</a>
                        </li>
                    } else
                    {
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="Login" class="nav-link"><i class="fas fa-user"></i>Login</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="Register" class="nav-link"><i class="fas fa-user-plus"></i>Register</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    }

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
