@{
    ViewData["Title"] = "Product Page";
}



<div class="d-flex" id="product-list"></div>

<script>   
    console.log($("a")[0].text);
    $.get('@Url.Action("ProductList", "Product")', {id : 1}, function(content){
        $("#product-list").html(content);
    });
</script>